<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Posts</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body class="bg-zinc-800 text-white">
    <div class="w-full min-h-screen p-10">
        <div class="flex justify-between items-center mb-4">
            <h1 class="text-3xl font-bold">My Posts</h1>
            <div class="flex gap-2">
                <a href="/profile" class=" hover:text-zinc-200 text-white font-bold py-2 px-4 rounded">
                    <i class="ri-user-3-line"></i>
                </a>
                <a href="/allposts" class="hover:text-zinc-200 text-white font-bold py-2 px-4 rounded">
                    <i class="ri-home-line"></i>
                </a>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center gap-4">
            <% posts.reverse().forEach(post => { %>
                <div class="bg-zinc-700 rounded-lg shadow-lg p-6 w-[40%] relative">
                    <!-- Edit and Delete Buttons -->
                    <div class="absolute top-2 right-2 flex gap-2">
                        <% if (post.user._id.toString() === user._id.toString()) { %>
                            <a href="/edit/post/<%= post._id %>" class="p-1 rounded-full hover:text-zinc-300 text-white text-xl font-bold">
                                <i class="ri-edit-2-line"></i>
                            </a>
                        <% } %>
                        <form action="/delete/post/<%= post._id %>" method="post">
                            <button class="p-1 rounded-full hover:text-zinc-300 text-white text-xl font-bold" type="submit">
                                <i class="ri-delete-bin-6-line"></i>
                            </button>
                        </form>
                    </div>

                    <h2 class="text-xl font-bold mb-2"><%= post.title %></h2>
                    <p class="mb-4"><%= post.content %></p>

                    <!-- Image Section -->
                    <% if (post.photo != '') { %>
                        <img src="/images/uploads/<%= post.photo %>" alt="Post Image" class="w-full h-auto rounded-lg mb-4">
                    <% } %>

                    <!-- Like and Comment Buttons -->
                    
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>
